* {
  margin: 0;
  padding: 0; }

body {
  background-image: url(https://blog.hubspot.es/hubfs/como-hacer-una-pagina-web-en-html.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  body .header {
    display: grid;
    color: black;
    min-height: 15px;
    text-align: center;
    background: blue;
    background: linear-gradient(90deg, blue 0%, #b565ff 23%, #b565ff 77%, blue 100%); }
    body .header:hover {
      text-align: start;
      transform: rotate(100px); }
    body .header nav {
      display: grid;
      justify-content: center; }
  body .main-contacto div {
    display: flex;
    margin: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    body .main-contacto div input {
      margin: 10px;
      border: solid 2px black; }
    body .main-contacto div h3 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      margin: 20px;
      font-size: 35px; }
  body .footer {
    display: grid;
    color: #f0f8ff;
    background-color: #111;
    width: 100%; }
  body .footer-contacto {
    margin-top: 300px; }

.block {
  display: block; }

.inline {
  display: inline; }

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .flex li {
    display: flex;
    padding: 2px;
    flex-direction: row;
    justify-content: flex-end; }
  .flex ul {
    display: flex; }

body {
  background-image: url(https://blog.hubspot.es/hubfs/como-hacer-una-pagina-web-en-html.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  body .header {
    display: grid;
    color: black;
    min-height: 15px;
    text-align: center;
    background: blue;
    background: linear-gradient(90deg, blue 0%, #b565ff 23%, #b565ff 77%, blue 100%); }
    body .header:hover {
      text-align: start;
      transform: rotate(100px); }
    body .header nav {
      display: grid;
      justify-content: center; }
    body .header main .div {
      display: grid;
      justify-items: center; }
    body .header .footer {
      display: grid;
      color: #f0f8ff;
      background-color: #111;
      width: 100%; }
    body .header .footer-estudio {
      margin-top: 300px; }

img {
  width: 25px; }

body {
  background-image: url(https://blog.hubspot.es/hubfs/como-hacer-una-pagina-web-en-html.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  body .header {
    grid-area: header;
    display: grid;
    color: black;
    min-height: 15px;
    text-align: center;
    background: blue;
    background: linear-gradient(90deg, blue 0%, #b565ff 23%, #b565ff 77%, blue 100%); }
    body .header:hover {
      text-align: start;
      transform: rotate(100px); }
    body .header nav {
      display: grid;
      justify-content: center; }
  body main .section {
    grid-area: selection;
    display: block;
    background-color: #b565ff;
    border: solid 10px black;
    padding: 10px; }
    body main .section h3 {
      display: grid;
      justify-content: space-around; }
  body main .div {
    grid-area: div;
    display: grid;
    justify-items: center; }
  body .footer {
    grid-area: footer;
    display: grid;
    color: #fff;
    background-color: #111;
    width: 100%;
    margin-top: 300px; }
  body .footer-index {
    margin-top: 150px; }

body {
  background-image: url(https://blog.hubspot.es/hubfs/como-hacer-una-pagina-web-en-html.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  body .header {
    display: grid;
    color: black;
    min-height: 15px;
    text-align: center;
    background: blue;
    background: linear-gradient(90deg, blue 0%, #b565ff 23%, #b565ff 77%, blue 100%); }
    body .header:hover {
      text-align: start;
      transform: rotate(100px); }
    body .header nav {
      display: grid;
      justify-content: center; }
  body main .section {
    grid-area: selection;
    display: block;
    background-color: #b565ff;
    border: solid 10px black;
    padding: 10px; }
    body main .section h1 {
      display: grid;
      justify-content: space-around; }
  body main .section-informacion {
    margin-top: 50px; }
  body main .div {
    display: grid;
    justify-items: center; }
  body .footer {
    display: grid;
    color: #fff;
    background-color: #111;
    width: 100%; }
  body .footer-informacion {
    margin-top: 300px; }

@media screen and (max-width: 1024px) {
  .section {
    padding: 15px;
    background-color: #b565ff;
    border: solid 10px black; } }

@media screen and (max-width: 780px) {
  .section {
    background-color: aqua;
    border: solid 10px aquamarine;
    padding: 15px; }
  .parrafo {
    width: 100%; } }

@media screen and (max-width: 480px) {
  .header {
    display: grid;
    justify-content: end; }
  h1 {
    width: 100%; }
  .section {
    background-color: #0000ff;
    border: solid 10px darkblue;
    padding: 20px; }
  .parrafo {
    width: 100%; } }

body {
  background-image: url(https://blog.hubspot.es/hubfs/como-hacer-una-pagina-web-en-html.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  body .header {
    display: grid;
    color: black;
    min-height: 15px;
    text-align: center;
    background: blue;
    background: linear-gradient(90deg, blue 0%, #b565ff 23%, #b565ff 77%, blue 100%); }
    body .header:hover {
      text-align: start;
      transform: rotate(100px); }
    body .header nav {
      display: grid;
      justify-content: center; }
  body main .section {
    display: block;
    padding: 10px; }
    body main .section h2 {
      display: grid;
      justify-content: space-around; }
  body .footer {
    display: grid;
    color: #fff;
    background-color: black;
    width: 100%; }
  body .footer-mis-trabajos {
    margin-top: 420px; }
