*{
    margin: 0;
    padding: 0;
}
/* css */
body{
    margin: 0;
    font-family: sans-serif;
    position: relative;
}
h1:hover {
    transform: rotate(100px) ;
}
.block{
    display: block;
}
.inline{
    display: inline;
}
 /* imagenes */
.imagen{
    width: 25px;
}
.img{
    width: 400px;
    background-color: aqua;
    border: solid 5px black;
}
/* flex */
.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flex li{
    display: flex;
    padding: 2px;
    flex-direction: row;
    justify-content: flex-end
}
.flex ul {
    display: flex;

}
.flex section{
    flex-direction: column;
    align-items: center;
}
.fondo{
    background-color: azure;
}
/* main */
.main-contacto div {
    display: flex;
    margin: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-contacto div input{
    margin: 10px;
    border: solid 2px black;
}
.main-contacto h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
    font-size: 35px;
}
/* grilla */
.grilla {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header"
      "section section"
      "div div"
      "footer footer";
  }
  .header { grid-area: header; }
  .section { grid-area: selection; }
  .div { grid-area: div; }
  .footer { grid-area: footer; }

   /*Header*/
.header{
    display: grid;
    color: black;
    min-height: 15px;
    text-align: center;
    background: rgb(0,0,255);
background: linear-gradient(90deg, rgba(0,0,255,1) 0%, rgba(181,101,255,1) 23%,  rgba(181,101,255,1) 77%, rgba(0,0,255,1) 100%);
}
.header h1{
    text-align:start;

}
.header nav{
      display: grid;
      justify-content: center
}
.header il{
    font-size:1000px ;
}
/* selection */
 .section{
     display: block;
     border: solid  5px black;
     background-color: #b565ff;
     padding: 10px;
 }
 .section h2{
     display: grid;
     justify-content: space-around;
 }
 .section-informacion{
    margin-top: 50px;
 }
 /* div */
 .div{
     display: grid;
     justify-items: center;
 }

 /* footer */

 .footer {
     display: grid;
     color: #fff;
    background-color: #111 ;
    width: 100%;
}
.footer-index{
    margin-top: 100px;
}

.footer-contacto{
    margin-top: 400px;
}
.footer-mis-trabajos{
    margin-top: 600px;
}
.footer-estudio{
    margin-top: 300px;
}

.footer-informacion{
    margin-top: 81px;
}
        /* table */
@media screen and (min-width: 780px ) and (max-width: 1024px ){
        .fondo{
            background-color: aliceblue;
        }
        
}
@media screen and ( min-width: 480px  ) and (max-width: 780px  ){
    .fondo{
        background-color: #b565ff;
    }
}
@media screen and (max-width: 480px ) {
    .fondo{
        background-color: brown;
    }
}

