.header {
    display: grid;
    color: black;
    min-height: 15px;
    text-align: center;
    background: rgb(0,0,255);
    background: linear-gradient(90deg, rgba(0,0,255,1) 0%, rgba(181,101,255,1) 23%,  rgba(181,101,255,1) 77%, rgba(0,0,255,1) 100%);
    
        &:hover{
            text-align:start;
            transform: rotate(100px) ;
        
        }
        nav{
              display: grid;
              justify-content: center
        }
    
    }
main{
    .div{
        display: grid;
        justify-items: center;
    }
}
.imagen{
    width: 25px;
}
.img{
    width: 400px;
    background-color: aqua;
    border: solid 5px black;
}
.footer{
    display: grid;
    color: #f0f8ff;
   background-color: #111 ;
   width: 100%;
    }
.footer-estudio{
   margin-top: 300px;
}
