body {
    background-image :url(https://blog.hubspot.es/hubfs/como-hacer-una-pagina-web-en-html.jpg); 
    background-repeat:no-repeat; 
    background-size:cover; 
    background-attachment: fixed; 

.grilla {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header"
      "section section"
      "div div"
      "footer footer";
.header  {
    grid-area: header;
    display: grid;
    color: black;
    min-height: 15px;
    text-align: center;
    background: rgb(0,0,255);
    background: linear-gradient(90deg, rgba(0,0,255,1) 0%, rgba(181,101,255,1) 23%,  rgba(181,101,255,1) 77%, rgba(0,0,255,1) 100%);

           
        &:hover{
            text-align:start;
            transform: rotate(100px) ;
        
        }
        nav{
              display: grid;
              justify-content: center
        }
    
    }

main{
    .section{
        grid-area: selection;
        display: block;
        background-color: #b565ff ;
        border: solid 10px black;
     padding: 10px;
     h2{
        display: grid;
        justify-content: space-around;
    }
    }
    
    .div{
        grid-area: div;
        display: grid;
        justify-items: center;
    }

}
    .footer {
        grid-area: footer;
        display: grid;
        color: #fff;
       background-color: #111 ;
       width: 100%;
       margin-top: 300px ;
    }
    .footer-index{
        margin-top: 150px;
        }
    }
}