@media screen and (max-width: 1024px ){
    .section{
        padding: 15px ;
        background-color: #b565ff ;
        border: solid 10px black;
    }
    
}
@media screen and (max-width: 780px  ){
.section{
    background-color:aqua ;
    border: solid 10px aquamarine;
    padding: 15px ;
}
.parrafo{
    width: 100%;
}
}
@media screen and (max-width: 480px ) {

.header{
    display: grid;
    justify-content: end;
}
.section{
    background-color: #0000ff;
    border: solid 10px darkblue;
    padding: 20px ;
}
.parrafo{
    width:100%;
    
}
}